@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
button {
  cursor: pointer;
  border: none;
}

:root {
  --font-family-1: "Nunito", sans-serif;
  --font-family-2: "Inter", sans-serif;

  --brand-1: #e064cc;
  --brand-2: #e34981;
  --brand-3: #fd377e;
  --brand-4: #03b898;

  --grey-scale-1: #212529;
  --grey-scale-2: #343a40;
  --grey-scale-3: #868e96;
  --grey-scale-4: #e9ecef;
  --grey-scale-5: #f8f9fa;

  --white-fixed: #ffffff;

  /* --grey-opacity-1: rgba(33, 37, 41, 0.5);
    --grey-opacity-2: rgba(134, 142, 150, 0.1); */

  --fontsize-title-1: 1.75rem;
  --fontsize-title-2: 1.5rem;
  --fontsize-title-3: 1.25rem;
  --fontsize-title-4: 0.75rem;
  --fontsize-headline: 1rem;
  --fontsize-body: 0.75rem;
  --fontsize-btnSec: 0.875rem;
  --fontsize-inputplace: 1rem;

  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;

  --font-style-1: normal;
}

@import "./flex.css";
@import "./text.css";
@import "./input.css";
@import "./button.css";
@import "./animation.css";
