.section_total {
    width: 363px;
    height: 96px;
    padding: 20px 24px 18px 24px;

    background: var(--white-fixed);

    border: 1px solid var(--grey-scale-4);
    border-radius: .25rem;
}

.section_total>div>h3 {
    font-style: var(--font-style-1);
    font-weight: var(--font-weight-7);
    font-size: var(--fontsize-headline);
    line-height: 1.875rem;

    color: var(--grey-scale-1);
}

.section_total>div>span {
    font-style: var(--font-style-1);
    font-weight: var(--font-weight-7);
    font-size: var(--fontsize-headline);
    line-height: 1.875rem;

    color: var(--brand-3);
}

.section_total>p {
    font-style: var(--font-style-1);
    font-weight: var(--font-weight-4);
    font-size: var(--fontsize-body);
    line-height: 1.375rem;

    color: var(--grey-scale-2);
}