#ul_transactions > li {
  width: 100%;
  height: 87px;
  border-radius: 0.25rem;

  background-color: var(--grey-scale-5);

  position: relative;
}

.type_transaction {
  width: 4px;
  background-color: var(--grey-scale-4);
  border-radius: 0.25rem 0 0 0.25rem;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;

  margin-right: 14px;
}

.entrada {
  background-color: var(--brand-4);
}

#description_transaction {
  position: absolute;
  left: 18px;
  top: 0;
}

#description_transaction > h2 {
  font-style: var(--font-style-1);
  font-weight: var(--font-weight-7);
  font-size: var(--fontsize-headline);
  line-height: 1.875rem;

  color: var(--grey-scale-1);

  width: fit-content;
  max-width: 337px;
  height: 39px;

  margin-top: 8px;
}

#description_transaction > span {
  font-style: var(--font-style-1);
  font-weight: var(--font-weight-4);
  font-size: var(--fontsize-body);
  line-height: 1.375rem;

  color: var(--grey-scale-2);

  width: fit-content;
  max-width: 62px;
  height: 27px;

  margin-bottom: 11px;
}

#value_transaction {
  margin-top: 18px;
}

#value_transaction > span {
  font-style: normal;
  font-weight: var(--font-weight-4);
  font-size: var(--fontsize-body);
  line-height: 1.375rem;

  color: var(--grey-scale-1);

  width: fit-content;
  max-width: 102px;
  height: 22px;
}

#value_transaction > button {
  border-color: var(--grey-scale-4);
  margin-right: 13px;
}

/* #value_transaction>button:hover {
    color: var(--grey-scale-5);
} */
